<div class="center jumbotron">
  <h1 class="title">Rate Courses from Concordia</h1>
  
  <h2 class="title2">
    Let Other Students Know Which Classes Are Worth Taking
  </h2>
  
  <%= link_to "Sign Up Now", register_path, class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2 class="midrow">
      View Ratings As Guest
    </h2>
    <h3 class="left">
      Browse and View Ratings as Guest, and Sign Up Later
    </h3>
    <p><%= link_to "Browse Ratings List", courses_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h2 class="midrow">
      Sign Into Your Account
    </h2>
    <h3 class="left">
      Add and Update your reviews, like and dislike recipes and much more
    </h3>
    <p><%= link_to "Login", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h2 class="midrow">
      View Ratings As Guest
    </h2>
    <h3 class="left">
      Browse and View Ratings as Guest, and Sign Up Later
    </h3>
    <p><%= link_to "Browse Ratings List", "", class: "btn btn-warning btn-small" %></p>
  </div>
  
</div>